src/main/resources/wsdl/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Team115User" targetNamespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user" xmlns:tns="http://pis.predmety.fiit.stuba.sk/pis/students/team115user" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/types">
  <types>
    <xsd:schema targetNamespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/types" xmlns="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/types">
      <xsd:complexType name="getById">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getById" nillable="true" type="ns:getById"/>
      <xsd:complexType name="User">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="passwordHash" type="xsd:string"/>
          <xsd:element name="type" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="User" nillable="true" type="ns:User"/>
      <xsd:complexType name="getByIdResponse">
        <xsd:sequence>
          <xsd:element name="user" type="User"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByIdResponse" nillable="true" type="ns:getByIdResponse"/>
      <xsd:complexType name="ArrayOfIds">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="id" nillable="true" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getByAttributeValue">
        <xsd:sequence>
          <xsd:element name="attribute_name" type="xsd:string"/>
          <xsd:element name="attribute_value" type="xsd:string"/>
          <xsd:element name="ids" type="ns:ArrayOfIds"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByAttributeValue" nillable="true" type="ns:getByAttributeValue"/>
      <xsd:complexType name="ArrayOfUsers">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="ns:Users"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Users">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="email" type="xsd:string"/>
          <xsd:element name="passwordHash" type="xsd:string"/>
          <xsd:element name="type" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Users" nillable="true" type="ns:Users"/>
      <xsd:complexType name="getByAttributeValueResponse">
        <xsd:sequence>
          <xsd:element name="users" type="ns:ArrayOfUsers"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByAttributeValueResponse" nillable="true" type="ns:getByAttributeValueResponse"/>
      <xsd:complexType name="getByNumericCondition">
        <xsd:sequence>
          <xsd:element name="attribute_name" type="xsd:string"/>
          <xsd:element name="attribute_value" type="xsd:string"/>
          <xsd:element name="math_condition" type="xsd:string"/>
          <xsd:element name="ids" type="ns:ArrayOfIds"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByNumericCondition" nillable="true" type="ns:getByNumericCondition"/>
      <xsd:complexType name="getByNumericConditionResponse">
        <xsd:sequence>
          <xsd:element name="users" type="ns:ArrayOfUsers"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getByNumericConditionResponse" nillable="true" type="ns:getByNumericConditionResponse"/>
      <xsd:complexType name="getAll">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:element name="getAll" nillable="true" type="ns:getAll"/>
      <xsd:complexType name="getAllResponse">
        <xsd:sequence>
          <xsd:element name="users" type="ns:ArrayOfUsers"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAllResponse" nillable="true" type="ns:getAllResponse"/>
      <xsd:complexType name="insert">
        <xsd:sequence>
          <xsd:element name="team_id" type="xsd:string"/>
          <xsd:element name="team_password" type="xsd:string"/>
          <xsd:element name="User" type="User"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="insert" nillable="true" type="ns:insert"/>
      <xsd:complexType name="insertResponse">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="insertResponse" nillable="true" type="ns:insertResponse"/>
      <xsd:complexType name="update">
        <xsd:sequence>
          <xsd:element name="team_id" type="xsd:string"/>
          <xsd:element name="team_password" type="xsd:string"/>
          <xsd:element name="entity_id" type="xsd:int"/>
          <xsd:element name="User" type="User"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="update" nillable="true" type="ns:update"/>
      <xsd:complexType name="updateResponse">
        <xsd:sequence>
          <xsd:element name="updates" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="updateResponse" nillable="true" type="ns:updateResponse"/>
      <xsd:complexType name="delete">
        <xsd:sequence>
          <xsd:element name="team_id" type="xsd:string"/>
          <xsd:element name="team_password" type="xsd:string"/>
          <xsd:element name="entity_id" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="delete" nillable="true" type="ns:delete"/>
      <xsd:complexType name="deleteResponse">
        <xsd:sequence>
          <xsd:element name="deleted" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="deleteResponse" nillable="true" type="ns:deleteResponse"/>
    </xsd:schema>
  </types>
  <message name="getByIdRequest">
    <part name="parameters" element="ns:getById"/>
  </message>
  <message name="getByIdResponse">
    <part name="parameters" element="ns:getByIdResponse"/>
  </message>
  <message name="getByAttributeValueRequest">
    <part name="parameters" element="ns:getByAttributeValue"/>
  </message>
  <message name="getByAttributeValueResponse">
    <part name="parameters" element="ns:getByAttributeValueResponse"/>
  </message>
  <message name="getByNumericConditionRequest">
    <part name="parameters" element="ns:getByNumericCondition"/>
  </message>
  <message name="getByNumericConditionResponse">
    <part name="parameters" element="ns:getByNumericConditionResponse"/>
  </message>
  <message name="getAllRequest">
    <part name="parameters" element="ns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="ns:getAllResponse"/>
  </message>
  <message name="insertRequest">
    <part name="parameters" element="ns:insert"/>
  </message>
  <message name="insertResponse">
    <part name="parameters" element="ns:insertResponse"/>
  </message>
  <message name="updateRequest">
    <part name="parameters" element="ns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="ns:updateResponse"/>
  </message>
  <message name="deleteRequest">
    <part name="parameters" element="ns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="ns:deleteResponse"/>
  </message>
  <portType name="Team115UserPortType">
    <operation name="getById">
      <input message="tns:getByIdRequest"/>
      <output message="tns:getByIdResponse"/>
    </operation>
    <operation name="getByAttributeValue">
      <input message="tns:getByAttributeValueRequest"/>
      <output message="tns:getByAttributeValueResponse"/>
    </operation>
    <operation name="getByNumericCondition">
      <input message="tns:getByNumericConditionRequest"/>
      <output message="tns:getByNumericConditionResponse"/>
    </operation>
    <operation name="getAll">
      <input message="tns:getAllRequest"/>
      <output message="tns:getAllResponse"/>
    </operation>
    <operation name="insert">
      <input message="tns:insertRequest"/>
      <output message="tns:insertResponse"/>
    </operation>
    <operation name="update">
      <input message="tns:updateRequest"/>
      <output message="tns:updateResponse"/>
    </operation>
    <operation name="delete">
      <input message="tns:deleteRequest"/>
      <output message="tns:deleteResponse"/>
    </operation>
  </portType>
  <binding name="Team115UserBinding" type="tns:Team115UserPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getById">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/#getById"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </output>
    </operation>
    <operation name="getByAttributeValue">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/#getByAttributeValue"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </output>
    </operation>
    <operation name="getByNumericCondition">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/#getByNumericCondition"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </output>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/#getAll"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </output>
    </operation>
    <operation name="insert">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/#insert"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/#update"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction="http://pis.predmety.fiit.stuba.sk/pis/students/team115user/#delete"/>
      <input>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://pis.predmety.fiit.stuba.sk/pis/students/team115user"/>
      </output>
    </operation>
  </binding>
  <service name="Team115UserService">
    <port name="Team115UserPort" binding="tns:Team115UserBinding">
      <soap:address location="http://pis.predmety.fiit.stuba.sk/pis/ws/Students/Team115User"/>
    </port>
  </service>
</definitions>
